<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{%block title%} {%endblock%}</title>
    <link rel=stylesheet type=text/css href="{{
    url_for('static',filename='style.css') }}">
  </head>
  <body>
    <div id="header">
      <!-- this is a jinja syntax: {{ url_for ('home')}} 
        this has to be the same as "def home()", not "app.route("/home")"-->
      <a
        href="{{ url_for('home')
     }}"
        >Home</a
      >&nbsp
      <a href="{{ url_for('about') }}">About Me</a>
      <a href="{{ url_for('register') }}">Register</a>
    </div>
    <div id="content">{% block content %} {% endblock %}</div>
  </body>
</html>
